{% extends 'homepage/base.html' %}

{% block title %}TruethLine | About Me{% endblock title %}

{% block content %}
<div class="about-me-wrapper">
    <div class="about-me-box">
        <h2 class="about-me-title">About Me</h2>
        <div class="about-me-wrapper">
            <a href="https://www.linkedin.com/in/fabricio-papetti-5b791a21a/" target="_blank">
                <img src="{{ avatar_url }}" alt="GitHub Profile Picture" class="profile-picture">
            </a>            
        </div>
        
        <section class="about-me-introduction">
            <p>
                Hi! I am <strong>Fabricio Papetti</strong>, a passionate <strong>MERN stack developer</strong> who loves technology and continuous learning. 
                I am self-taught, creative, and constantly motivated to acquire new skills and expand my knowledge every day.
            </p>
            <p>
                Recently, I have been exploring the world of Python, learning how to create efficient solutions with its versatile ecosystem. 
                This new journey has expanded my understanding of programming and reinforced my passion for software development.
            </p>
            <p>
                ¡Hola! Soy <strong>Fabricio Papetti</strong>, un desarrollador MERN de 25 años. Me destaco por mi responsabilidad, organización y 
                enfoque resolutivo, comprometiéndome al 100% en cada proyecto en el que participo. Además, estoy descubriendo Python y 
                experimentando con nuevas herramientas y tecnologías que me inspiran a seguir aprendiendo.
            </p>
        </section>

        <section class="about-me-skills">
            <h3>Technical Skills</h3>
            <ul>
                <li>Node.js, Express, MongoDB, SQL, Git, React</li>
                <li>Python: Django, and basic data analysis</li>
                <li>Web and mobile application development</li>
                <li>API integration and RESTful services</li>
                <li>Version control with Git and GitHub</li>
                <li>Pack Office: Word, Excel, PowerPoint</li>
            </ul>
        </section>

        <section class="about-me-experience">
            <h3>Experience</h3>
            <p>
                I have worked on various projects, leveraging my skills to develop scalable and efficient solutions that improve 
                product quality and user experience. I am always looking to enhance my expertise and deliver exceptional results.
            </p>
            <p>
                As I dive deeper into Python, I am excited to integrate its capabilities into my future projects and bring even more 
                versatility to my development toolkit.
            </p>
        </section>

        <section class="about-me-interests">
            <h3>Personal Interests</h3>
            <p>
                Beyond my professional life, I enjoy reading, learning English, watching movies, playing video games, engaging in sports, 
                and going for walks. These activities help me maintain balance and stay inspired in my work.
            </p>
            <p>
                My recent exploration of Python has also become a hobby, and I look forward to creating projects that merge my curiosity 
                with real-world applications.
            </p>
        </section>

        <section class="about-me-contact">
            <h3>Contact</h3>
            <p>📫 <strong>Email:</strong> <a href="mailto:fabriciopapetti1121@gmail.com">fabriciopapetti1121@gmail.com</a></p>
            <p>🌐 <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/fabricio-papetti-5b791a21a/" target="_blank">Fabricio Papetti</a></p>
            <p>💻 <strong>GitHub:</strong> <a href="https://github.com/fabrixindex" target="_blank">fabrixindex</a></p>
        </section>
    </div>
</div>
{% endblock content %}
