{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
TruethLine | Soon!
{% endblock title %}

{% block content %}

<section class="soon-updates">
    <h2>More Improvements Coming Soon!</h2>
    <p>At TruethLine, we are constantly working to enhance your experience. Soon, you'll be able to enjoy new features, more content, and smoother navigation. Stay tuned!</p>
    <p>Thank you for your continued support. Stay connected to learn about the updates and improvements we have in store for you.</p>
</section>

<style>
    .soon-updates {
        background-color: #f1f3f5; 
        padding: 60px 20px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        max-width: 90%;
        margin: 50px auto;
    }

    .soon-updates h2 {
        font-size: 2.8em;
        color: #3e5a76;
        margin-bottom: 20px;
        font-family: 'Georgia', serif;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    }

    .soon-updates p {
        font-size: 1.3em;
        color: #555;
        line-height: 1.8;
        font-family: 'Arial', sans-serif;
        max-width: 800px;
        margin: 0 auto;
    }
</style>


{% endblock content %}