* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-top: 1rem;
}

.navbar li {
    display: inline;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #ffa500;
}

nav {
    width: 95%; 
    margin: 0 auto; 
    background-color: #333;
    z-index: 1000;
    border-radius: 25px; 
    padding: 3px 0;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;  
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    padding: 15px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}


.menu-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 100%;  
    padding: 8px 10px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #555;  
}

/* Estilos para el menú desplegable de categorías */
.categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;  
    top: 0;
    left: -100%;  
    height: 100%;  
    width: 30%;  
    background-color: rgba(0, 0, 0, 0.7);  
    display: flex;
    flex-direction: column;
    z-index: 99;  
    box-sizing: border-box;
    transition: left 0.3s ease;  
}

.categories.open {
    left: 0;  
}

#categories-menu{
    margin-top: 30;
}

.categories li:nth-child(n+1) {
    margin-top: 15px;  
}

.categories li:first-child {
    margin-top: 200px; 
}

.categories li {
    padding: 15px;
    border-bottom: 1px solid #444;
    text-align: center;
}

.categories li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.categories li:hover {
    background-color: #555;
}


#current-time {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

@media (max-width: 768px) {
    .navbar li a {
        font-size: 16px;
    }

    .menu-btn {
        font-size: 35px;
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}

.btn-primary {
    background-color: #1e90ff; 
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4682b4; 
}

main {
    width: 100%; 
    box-sizing: border-box; 
}

/* Estilos del footer */
footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

.footer-content a {
    color: #ffa500;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-about-link {
    color: #6a11cb; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-about-link:hover {
    color: #2575fc; 
    text-decoration: underline;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1; 
}

.profile-picture-small {
    width: 40px;  
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;
}

/* Latest News Section */
.latest-news-hp-title, #advantages h2 {
    font-family: 'Georgia', serif; 
    font-size: 2.5em; 
    margin-bottom: 20px; 
    color: #3e5a76; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    padding: 10px 0; 
    border-bottom: 3px solid #1e90ff; 
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

#advantages h2:hover {
    color: #1e90ff; 
    cursor: pointer; 
}

.latest-news-hp-title:hover {
    color: #1e90ff; 
    cursor: pointer; 
}

.latest-news-hp {
    background-color: #f8f9fa;
    padding: 40px 20px;
    margin: 30px auto;
    max-width: 95%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.latest-news-hp h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #3e5a76;
}

.article-card-hp {
    background-color: white;
    width: 370px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card-hp:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.article-title-hp {
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #3e5a76;
}

.article-meta-hp {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.article-content-hp {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.5;
}

.btn-read-hp {
    background-color: #1e90ff;
    color: white;
    padding: 10px 15px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    align-self: flex-end; 
}

.btn-read-hp:hover {
    background-color: #4682b4;
}

#news-list-hp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    list-style: none;
}

/* ADVANTAGES HP */
#advantages {
    text-align: center;
    margin-top: 60px;
    background-color: #f8f9fa;
    padding: 40px 20px;
    margin: 30px auto;
    max-width: 95%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

/* Lista de ventajas */
#advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Cada ventaja */
#advantage-1, #advantage-2, #advantage-3 {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#advantage-1:hover, #advantage-2:hover, #advantage-3:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#advantage-1 h3, #advantage-2 h3, #advantage-3 h3 {
    font-family: 'Georgia', serif;
    font-size: 1.7em;
    margin-bottom: 15px;
    color: #1e90ff;
}

#advantage-1 p, #advantage-2 p, #advantage-3 p {
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
}

/* Animaciones con retraso secuencial */
.wow.animate__zoomIn {
    visibility: visible; 
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: both; 
}

/* Retrasos para cada ventaja */
#advantage-1.wow.animate__zoomIn {
    animation-delay: 1.2s;
}

#advantage-2.wow.animate__zoomIn {
    animation-delay: 2.4s;
}

#advantage-3.wow.animate__zoomIn {
    animation-delay: 3.6s;
}


/* ABOUT ME */

.about-me-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.about-me-box {
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.about-me-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #4a90e2;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #4a90e2;
}

.about-me-introduction p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}

.about-me-skills, .about-me-experience, .about-me-interests, .about-me-contact {
    margin-top: 20px;
}

.about-me-skills h3,
.about-me-experience h3,
.about-me-interests h3,
.about-me-contact h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4a90e2;
    border-bottom: 2px solid #4a90e2;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.about-me-skills ul {
    list-style-type: square;
    margin-left: 20px;
    font-size: 1.1rem;
    color: #333;
}

.about-me-contact p a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
}

.about-me-contact p a:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.profile-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    .about-me-box {
        padding: 20px;
    }

    .about-me-title {
        font-size: 2rem;
    }

    .about-me-skills h3,
    .about-me-experience h3,
    .about-me-interests h3,
    .about-me-contact h3 {
        font-size: 1.5rem;
    }
}
